# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\saba9912\AP\ap project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
